*{
    box-sizing: border-box;
}

html{

}

body{
    margin: 0;
}

.login-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/background.jpg");
    background-size: cover;
}

.login-section{
    width: 37%;
    height: 100%;
    background: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    color: #4773fe;
    font-weight: 600;
    font-size: 1.4rem;
}

.sec-one h3{
    font-weight: 600;
    font-size: 1.6rem;
    color: #16294b;
}

.text-field{
    width: 100%;
    height: 60px;
    border: 1px solid #c6c6c6;
    position: relative;
    /*border-left: 1px solid #c6c6c6;*/
    transition: border-left-color 300ms;
}

.border-left{
    border-left: 4px solid #4773fe;
}

.text-field input{
    width: calc(100% - 2rem);
    margin-bottom: 10px;
    position: absolute;
    left: 2rem;
    bottom: 0;
    border: none;
    background: transparent;
    outline: none;
    color: #4773fe;
    font-weight: 800;
}

.text-field label {
    position: absolute;
    top: 20px;
    left: 2rem;
    transition: top 300ms;
}

.text-field input:focus ~ label {
    top: 10px;
}

.text-field:first-child{
    border-bottom: none;
}

