html, body{
  margin: 0;  
  height: 100%;
}

*{
  list-style: none;
  text-decoration: none;
}
.canvas{
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: block;
  background-color: hotpink;
  overflow: scroll;
}

.container{
  margin: 20px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.fas{
  height: 50px;
  width: 30px;
}
.home{
  background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.span

.search{
  display: flex;
  flex: 1;
  top: 0;
  margin: 0 40px;
  flex-basis: 1e-09px;
  background-color: brown;
  text-align: center;
  padding: 15px;
}
.search input{
  height: 50%;
  width: 100%;
}
.account{
  display: flex;
  align-items: center;
  background-color: cadetblue;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 225px;
}
.fas{
  margin-right: 8px;
  font-size: 25px;
  align-self: center;
}
.overallcontainer{
  margin: 0;
  padding: 0;
  bottom: 0;
  border: 0;
  width: 100%;
  display: block;
}
.sidenav{
  position: fixed;
  top: 81px;
  left: -250px;
  width: 250px;
  bottom: 0;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.sidesect1{
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.sidesect1>ul{
  padding: 0;
}
.sidesect1>ul>li{
  margin-top: 10px;
  
}
.sidesect1>ul>li>a{
  color: grey;
}
.sidesect2{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidesect2>ul{
  padding: 0;
}
.sidesect2>ul>li{
  margin-top: 10px;
}
.sidesect2>ul>li>a{
  color: grey;
}
.sidesect3{
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidesect3>ul>li{
  margin-top: 10px;
}
.sidesect3>ul>li>a{
  color: grey;
}
.sidesect4{
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.sidesect4>ul{
  padding: 0;
}
.sidesect4>ul>li{
  margin-top: 10px;
}
.sidesect4>ul>li>a{
  color: grey;
}
.sidesect5{
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.sidesect5>ul{
  padding: 0;
}
.sidesect5>ul>li{
  margin-top: 10px;
}
.sidesect5>ul>li>a{
  color: grey;
}
.sidesect6{
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.vidcontainer{
  top: 80px;
  bottom: 0;
  margin-left: 40px;
  width: 100%;
  border: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
.controw1{
  height: 220px;
  width: 100%;
 
  background-color: whitesmoke;
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.controw2{
  height: 220px;
  width: 100%;

  background-color: whitesmoke;
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.controw3{
  height: 220px;
  width: 100%;

  background-color: whitesmoke;
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.controw4{
  height: 220px;
  width: 100%;
 
  background-color: whitesmoke;
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.controw5{
  height: 220px;
  width: 100%;

  background-color: whitesmoke;
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  margin-right: 57px;
  height: 200px;
  width: 210px;
  

  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
}
.wrapper{
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.vcontainer{
  border: 1px solid white;
  height: 200px;
  width: 210px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.vsection1{
  height: 120px;
  width: 100%;

}
.vsection2{
  height: 40px;
  width: 100%;

}
.vsection3{
  height: 40px;
  width: 100%;

  color: grey;
}
#check:checked ~ .vidcontainer{
  margin-left: 250px;
}
#check:checked ~ .sidenav{ 
  left: 0;
}

