
body{
    background: white;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.header{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: rgb(245, 237, 245);
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 10;

}
#sidebar {
    position: absolute;
    width: 203px;
    height: 700px;
    background: rgb(248, 243, 243);
    left: -300px;
    
   
}

#sidebar.active {
    left: 0;
}

#sidebar ul li{
    list-style: none;
    color: black;
    font-size: 20px;
    padding: 20px 24px;
}

#toggle .toggle-btn {
    position: absolute;
    top: 17px;
    left: 18px;

}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 4px;
    
}
