
body{
    background: white;
    padding: 0;
    margin: 0;
    font-family: tahoma;
}

.header{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: rgb(153, 142, 153);
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 10;

}

.main{
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}

.main-inner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}